.brands{

max-width:1400px;

margin:auto;

padding:80px 40px;

text-align:center;

}

.brands h2{

font-size:42px;

margin-bottom:15px;

}

.dark .brands h2{

color:white;

}

.brands p{

color:#64748b;

margin-bottom:50px;

font-size:18px;

}

.dark .brands p{

color:#cbd5e1;

}

.brands-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:25px;

}

.brand-card{

background:white;

padding:35px;

border-radius:20px;

font-size:24px;

font-weight:bold;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.35s;

cursor:pointer;

}

.dark .brand-card{

background:#1e293b;

color:white;

}

.brand-card:hover{

transform:translateY(-8px);

background:#2563eb;

color:white;

}