:root{


    --bg:#f4f7fb;
    --bg-card:#ffffff;

    

    --text:#1e293b;
    --text-secondary:#64748b;

    

    --primary:#2563eb;
    --danger:#ef4444;
    --success:#16a34a;

  
    --border:#e5e7eb;

}

body.dark{

    --bg:#111827;
    --bg-card:#1f2937;

    --text:#f8fafc;
    --text-secondary:#cbd5e1;

    --border:#374151;

}